<extend name="base/base" />
<block name="title"><title>通讯录首页</title></block>

<block name="content">

    <div style="text-align:center;font-size:2em;line-height:2em;">
    	<div>
    		欢迎回来！{:session('realname')}
    	</div>
    	<div id="screen_width"></div>
    	<div id="browser_core"></div>
    	<div id="notice" style="color:red;font-size:0.8em;"></div>
    </div>

</block>

<block name="myscript">
	<load href="__PUBLIC__/js/browserdetect.js" />
	<script>
		$("#screen_width").html("屏幕分辨率：" + document.body.clientWidth);
		
		$("#browser_core").html("浏览器内核：" + BrowserDetect.browser);
		
		if(BrowserDetect.browser !== "Chrome"){
			var notice = "本站开发者主要支持谷歌内核的浏览器（Chrome），<br>如果你在操作中遇到兼容问题，<br>请下载安装【谷歌浏览器】体验本站所有功能！";
			$("#notice").html(notice);
		}
	</script>
	
</block>
