@charset "utf-8";
/* CSS Document */

/* login controller */
#login_form{
	margin:3em auto;
	line-height: 1.5em;
}
#login_form input{
	width:100%;
	margin-bottom: 10px;
}

.bottom10{
	margin-bottom: 10px;
}
