@charset "utf-8";

/*	group controller	*/
label{
	display: block;
}

.row > label{
	font-size:1.4em;
	line-height: 2em;
}
.row > div > input,select{
	width:100%;
	height:2em;
	margin-bottom: 10px;
	text-align: center;
}

.row .add > input{
	margin-right:0.3em;
}

.departments > label{
	line-height: 1.4em;
}
.departments > div > input{
	height:1.4em;
	margin-bottom: 5px;
}
.departments input,label:hover{
		background:#ccc;
}
.departments input,label:active{
		background:#ddd;
}

.departments input[type="checkbox"]{
	width:0.8em;
	height:0.8em;
}

.tels{
	text-align:center;
	padding:2px 5px;	
}

.bottom10{
	margin-bottom:10px;
}
