<extend name="base/base" />
<block name="title"><title>捐助本站</title></block>

<block name="content">
    <table class="table table-bordered table-hover table-striped">
		<caption class="text-center"><h3>捐助本站</h3></caption>
		<tr>
			<td colspan="2">
				<ul class="list-unstyled h3" style="color:red;line-height:35px;">
					<li>您的捐款将被用于：</li>
					<li>1、持续和深入的开发</li>
					<li>2、维护网站的运行稳定</li>
					<li>3、租用更好性能的网络服务器</li>
					<li>收款人：陈晨</li>
				</ul>
			</td>
		</tr>
		<tr>
        	<td class="text-center">
				<img src="__PUBLIC__/css/image/wx.png" class="img-rounded" target="_blank" style="max-height:500px;" />
				<img src="__PUBLIC__/css/image/zfb.jpg" class="img-rounded" target="_blank" style="max-height:500px;" />
        	</td>
        </tr>
	
    </table>
</block>
