<extend name="base/base" />
<block name="title"><title>添加企业</title></block>
<block name="mycss">
	<load href="__PUBLIC__/css/controller/{$Think.CONTROLLER_NAME}.css" />
</block>

<block name="content">
	<form action="{:U(ACTION_NAME)}" method="post">
		
		<div class="container-fluid">
			<div class="row">
				<label class="col-xs-4 col-sm-4 text-right">企业名称：</label>
				<div class="col-xs-8 col-sm-4">
					<input type="text" name="cname" placeholder="请输入企业名称" />
				</div>
	   		</div>
	   		
	   		<div class="row">
				<label class="col-xs-4 col-sm-4 text-right">排序：</label>
				<div class="col-xs-8 col-sm-4">
					<input type="number" name="sort" />
				</div>
	   		</div>
	   		
	   		<div class="row">
				<label class="col-xs-4 col-sm-4 text-right">有效期：</label>
				<div class="col-xs-8 col-sm-4">
					<input type="number" name="days" />
				</div>
	   		</div>
	   		
	   		<div class="row">
				<label class="col-xs-4 col-sm-4 text-right">状态：</label>
				<div class="col-xs-8 col-sm-4">
					<select name="status">
						<option value="1" {$selected}>正常</option>
						<option value="0">禁用</option>
					</select>
				</div>
	   		</div>
	   		
	   		<div class="row">
		    	<div class="col-xs-4 col-sm-4"></div>
		    	<div class="col-xs-6 col-sm-4">
		    		<input type="submit" class="btn btn-info btn-block" value="提交" />
		    	</div>
			</div>
	    </div>
	</form>
</block>