<extend name="base/base" />
<block name="title"><title>企业列表</title></block>

<block name="content">
	<table class="table table-bordered table-hover table-striped">
    	<thead>
        	<tr>
                <!--<th>ID</th>-->
                <th>企业名称</th>
                <th>短信数</th>
                <th>状态</th>
                <th>创建时间</th>
                <!--<th>使用期限</th>-->
                <!--<th>排序</th>-->
                <th>管理</th>
            </tr>
        </thead>
        <tbody>
            <volist name="clist" id="one">
                <tr>
                    <!--<td>{$one.cid}</td>-->
                    <td>{$one.cname}</td>
                    <td>{$one.message}</td>
                    <td>{$one.status}</td>
                    <td>{:date('Y-m-d',$one['createtime'])}</td>
                    <!--<td>{$one.days}</td>-->
                    <!--<td>{$one.sort}</td>-->
                    <td>
                        <a href="{:U('edit',array('cid'=>$one['cid']))}">编辑</a> | 
                        <a href="{:U('message',array('cid'=>$one['cid']))}">短信</a> | 
                        <a href="{:U('del',array('cid'=>$one['cid']))}" onClick="javascript:return del()">删除</a>
                    </td>
                </tr>
            </volist>
        </tbody>
    </table>
    <div>
    	<a href="{:U('add')}" id="add_button" class="btn btn-info btn-block">添加</a>
    </div>
</block>